# {{ ansible_managed }}
app.version={{ app.version }}
templateHome=${TEMPLATE_HOME:{{ app.template }}}
tenantConfigHome=${TENANT_CONFIG_HOME:{{ app.db }}}
jasypt.password=${JASYPT_PASSWORD:{{app.password }}}
spring.application.name=tailoringexpert-api

# server
server.use-forward-headers=true
server.port=${SERVER_PORT:{{ app.serverport }}}
server.display-name=Tailoring
server.forward-headers-strategy=native

# http
server.http.port=${SERVER_HTTP_PORT:8080}
spring.http.encoding.charset=UTF-8
spring.http.encoding.enabled=true
spring.http.encoding.force=true
server.http.interface=0.0.0.0

# servlet
server.servlet.context-path=/api
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

# tomcat
server.tomcat.uri-encoding=UTF-8
server.tomcat.remote_ip_header=x-forwarded-for
server.tomcat.protocol_header=x-forwarded-proto
{% if app.ssl.enabled %}

# ssl
server.ssl.enabled={{ app.ssl.enabled }}
server.ssl.key-store-type={{ app.ssl.type }}
server.ssl.key-store={{ app.ssl.store }}
server.ssl.key-store-password={{ app.ssl.password }}
server.ssl.key-alias={{ app.ssl.alias }}
server.ssl.protocol={{ app.ssl.protocol }}
server.ssl.enabled-protocols={{ app.ssl.enabledProctols }}

{% endif %} 
# Datenbank
spring.datasource.driver-class-name=${DEFAULT_DATASOURCE_DRIVER_CLASS:{{ app.datasource.driver }}}
spring.datasource.url=${DEFAULT_DATASOURCE_URL:{{ app.datasource.url }}}
spring.datasource.username=${DEFAULT_DATASOURCE_USERNAME:{{ app.datasource.username }}}
spring.datasource.password=${DEFAULT_DATASOURCE_PASSWORD:ENC({{ app.datasource.password }})}
spring.jpa.database-platform=${DEFAULT_DATASOURCE_DATABASE_PLATFORM:{{ app.datasource.dialect }}}

spring.jpa.database=${DEFAULT_DATASOURCE_DATABASE:MYSQL}
spring.jpa.hibernate.ddl-auto=none
spring.jpa.generate-ddl=false
spring.jpa.show-sql=false

#actuator
management.endpoints.web.exposure.include=restart,health,info,beans
management.endpoint.health.show-details=always
management.endpoint.restart.enabled=true
spring.cloud.config.enabled=false

spring.main.allow-bean-definition-overriding=true
jasypt.encryptor.bean=encryptorBean