<?xml version="1.0" encoding="UTF-8"?>
<!--{{ ansible_managed }} -->
<Configuration status="ERROR" verbose="true"
  monitorInterval="60">
	<Appenders>
		<RollingFile name="fileLogger"
			fileName="{{ app.log }}/tailoring.log"
			filePattern="{{ app.log }}/tailoring-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<!-- Max 10 files will be created everyday -->
			<DefaultRolloverStrategy max="10">
				<Delete basePath="{{ app.log }}" maxDepth="10">
					<!-- Delete all files older than 10 days -->
					<IfLastModified age="10d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

			<RollingFile name="openhtml2pdfLogger"
    			fileName="{{ app.log }}/openhtml2pdf.log"
    			filePattern="{{ app.log }}/openhtml2pdf-%d{yyyy-MM-dd}.log">
    			<PatternLayout>
    				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
    				</pattern>
    			</PatternLayout>
    			<Policies>
    				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
    				<SizeBasedTriggeringPolicy size="10MB" />
    			</Policies>
    			<!-- Max 10 files will be created everyday -->
    			<DefaultRolloverStrategy max="10">
    				<Delete basePath="{{ app.log }}" maxDepth="10">
    					<!-- Delete all files older than 10 days -->
    					<IfLastModified age="10d" />
    				</Delete>
    			</DefaultRolloverStrategy>
    		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%c] %m%n" />
		</Console>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="[%c] %M | %m%n"/>
		</Console>
	</Appenders>
	
	<Loggers>
		<Logger name="eu.tailoringexpert" level="debug" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="fileLogger" />
		</Logger>

		<!--Logger name="com.openhtmltopdf" level="trace">
      <AppenderRef ref="openhtml2pdfLogger" />
    </Logger-->


		<Root level="ERROR">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="fileLogger" />
		</Root>
	</Loggers>
</Configuration>
